@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
/****************************************************************************************
 CSS GEPApiR
****************************************************************************************/



/******************
 GepapiR commun
******************/

.travaux
{
    text-align: center;
}

/** Footer documents (informatique, ...) */
p#version
{
    width: 95%;
    text-align: right;
    font: italic small-caps lighter 0.8em "Courier New", Courier, monospace;
}

p#disclaimer
{
    width: 95%;
    text-align: center;
    font: italic normal lighter 0.7em "Courier New", Courier, monospace;
}

body
{
    background: white url(../images/fonds/nuages_background_nb.jpg) repeat scroll;
}

h1
{
    margin-bottom: 2em;
    text-align: center;
    font: bold italic 1em Georgia, "Times New Roman", Times, serif;
}

h1>a>img
{
    box-shadow: 10px 10px 15px rgba(0,0,0,0.5);
    margin-bottom: 10px;
}

h2, h3, h4
{
    font-family: 'Satisfy', cursive;
}

h2
{
    margin: 1em 0.1em;
    font-size: 2em;
}

h3, h4
{
    margin: 1em 1em;
    margin-top: 2em;
    font-size: 1.3em;
}

h1>span.permalink, h2>span.permalink, h3>span.permalink, h4>span.permalink, h5>span.permalink, h6>span.permalink {
	display: none;
}
h1:hover>span.permalink, h2:hover>span.permalink, h3:hover>span.permalink, h4:hover>span.permalink, h5:hover>span.permalink, h6:hover>span.permalink {
	display: initial;
}

figure
{
    margin: 1.5em 4%;
    text-align: center;
}

figure > figcaption
{
    font-style: italic;
}

figure img
{
    margin: 0;
    padding: 0;
    max-width: 1200px;
}
figure img.pretty-img
{
    margin-bottom: 0;
}


img
{
    border: none;
}

img.pretty-img
{
    margin: 1em;
    border-radius: 5px;
    border: 4px solid white;
    box-shadow: 1px 1px 8px rgba(0,0,0,0.8);
}

img.screenshot-img
{
    margin: inherit auto;
}

/** Liens */
a:link
{
    color: #004A4A;
}

a:visited
{
    color: #9A9A9A;
}

/** Blocs contenu */
p, pre, ul, ol, dl, div, blockquote
{
    margin: 1.5em 4%;
    color: #000000;

    text-align: justify;
    font: normal 0.9rem Arial, Helvetica, sans-serif;
}

/** Listes */
ul
{
    padding: 0;
    list-style-image: url("../images/puce_tiret-rouge.gif");
}

li
{
    margin: 0.5em 4%;
}

/* definition term */
dt
{
    display: list-item;
    list-style-image: url("../images/puce_spirale.gif");

    margin-top: 1.5em;
    margin-bottom: 0;

    font-weight: bold;
    font-size: 1.1em;
}

/* definition description */
dd
{
    margin: 0;
}

dt, dd
{
    margin-left: 4%;
    margin-right: 8%;
}

/** Eléments inlines */
em
{
    font-weight: bold;
    font-style: italic;
}

abbr[title]
{
    cursor: help;
}

/** Citations */
blockquote
{
    margin: 0 8% 0 4%;
    padding: 0.1em 1em 0.1em 2em;
    border: 1px outset white;
    border-left: 1px dashed black;
    border-radius: 0 5px 5px 0;
    background-color: #DDDDDD;
    opacity: 0.75;
    box-shadow: 1px 1px 8px rgba(0,0,0,0.5);
}

blockquote>p
{
    margin-left: 0;
    margin-right: 0;
}

blockquote>p>cite
{
    font-style: normal;
    display: block;
    text-align:right;
    margin-top: 1rem;
    margin-right: 2rem;
}

q, blockquote
{
    font: normal 1em Verdana, Geneva, Arial, Helvetica, sans-serif;
}

q:before
{
    content: "“";
}

q:after
{
    content: "”";
}

code
{
    color: springgreen;
    background-color: black;
    border-radius: 0.3rem;
    padding: 0 0.1rem;
}

body kbd {
  background-color: #eeeeee;
  border-radius: 3px;
  border: 1px solid #b4b4b4;
  box-shadow:
    0 1px 1px rgb(0 0 0 / 0.2),
    0 2px 0 0 rgb(255 255 255 / 0.7) inset;
  color: #333333;
  display: inline-block;
  font-size: 0.85em;
  font-weight: bold;
  line-height: 1;
  padding: 2px 4px;
  white-space: nowrap;
}



/** Form */
label
{
    cursor: pointer;
}

label:hover
{
    text-decoration: underline;
}



/** Callouts */
.callout:before {
  content: var(--callout-icon);
  margin-right: 0.5rem;
}
.callout {
  --callout-icon: "";
  --callout-bg: #222222;
  --callout-fg: #9e9e9e;
  
  width: 60%;
  padding: 1rem;
  padding-left: 1.5rem;
  
  border : 1px outset black;
  border-radius: 5px;
  
  background-color: var(--callout-bg);
  color: var(--callout-fg);
  
  box-shadow: 1px 1px 8px rgba(0,0,0,0.8);
}

.callout :where(ul, li) {
  background-color: transparent;
  color: inherit;
}
.callout :where(p, ul) {
  margin: 1rem;
}

.callout[data-variant="note"] {
  --callout-icon: "✏️";
  --callout-bg: #151e2c;
  --callout-fg: #157aff;
}

.callout[data-variant="info"] {
  --callout-icon: "ℹ️";
  --callout-bg: #151e2c;
  --callout-fg: #1577f9;
}

.callout[data-variant="tip"] {
  --callout-icon:"🔥";
  --callout-bg: #1a2929;
  --callout-fg: #53dfdd;
}

.callout[data-variant="warning"] {
  --callout-icon: "⚠️";
  --callout-bg: #2a2118;
  --callout-fg: #e9973f;
}



/******************
 Tableaux
******************/
table {
  table-layout: fixed;
  margin: auto;
  border-collapse: collapse;
  border: 3px solid black;
}

thead th:nth-child(1) {
  width: 30%;
}

/* graphics */
thead,
tfoot {
  color: white;
  line-height: 1.5;
}

thead th,
tfoot th,
tfoot td {
  background: linear-gradient(to bottom, rgb(0 0 0 / 0.1), rgb(0 0 0 / 0.5));
  text-shadow: 1px 1px 1px black;
  letter-spacing: 0.2rem;
}

tbody {
  background-color: white;
}

table th, table td {
  border: 1px solid black;
  padding: 1rem;
}



/******************
 Séparateurs
******************/
hr.sep, hr.sepfin
{
    clear: both;
    margin: 4ex auto;
    width: 630px;
    border-style: none;
    background-image: url("../images/separateurs/separateurs-sprites.png");
    background-repeat: no-repeat;
    box-shadow: 1px 1px 8px rgba(0,0,0,0.5);
}

/* Win 3.x */
hr.sep1
{
    height: 23px;
    background-position: 0 -59px;
}

/* Mac */
hr.sep2
{
    height: 18px;
    background-position: 0 -41px;
}

/* X11 */
hr.sep3
{
    height: 21px;
    background-position: 0 -20px;
}

/* W95 */
hr.sep4
{
    height: 23px;
    background-position: 0 -82px;
}

/* Mac OS X */
hr.sep5
{
    height: 20px;
    background-position: 0 0;
}

/* Win XP */
hr.sep6
{
    height: 26px;
    background-position: 0 -130px;
}

hr.sepfin
{
    margin-bottom: 1ex;
    height: 25px;
    background-position: 0 -105px;
}

@media screen and (max-width: 645px)
{
    hr.sep
    {
        width: 98%;
    }
}



/******************
 Menu de navigation
******************/

body
{
    /* pour éviter le recouvrement du contenu par le menu*/
    padding-bottom: 3em;
}

nav
{
    position: fixed;
    bottom: 0;
    left: 0;

    width: 100%;
    padding: 0;
    margin: 0;

    text-align: center;
    
    z-index: 10;
}

nav ul
{
    display: inline-block;

    list-style: none;

    margin: auto;
    padding: 0 1.5em;

    background: #DAE2FE url("../images/fonds/nuages_background.jpg") repeat scroll;
    opacity: 0.9;
    border: 1px solid grey;
    border-bottom: none;
    border-radius: 5% 5% 0 0 / 1em 1em 0 0;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);

    font: bold 1em arial, helvetica, sans-serif;

    text-align: center;
}

nav li
{
    display: inline-block;
    margin: 0;
    padding: 0;
}

nav a
{
    display: inline-block;
    margin: 0;
    padding: 0.5em 1em;
    
    background-color: transparent;
    transition: background 0.6s;
    
    border: 1px outset transparent;
    border-left: 1px solid gray;
    
    font-size: 0.9em;
    text-decoration: none;
}

nav a.current
{
    border-top: 4px solid black;
}

nav>ul>li:first-child>a {
    border-left-color: transparent;
}

nav>ul>li>a:hover
{
    background-color: white;
    border-top: 4px solid gray;
}

nav>ul>li>a.current:hover
{
    background-color: white;
    border-top: 4px solid black;
}

nav a:link, nav a:visited
{
    color: black;
}

/*
 Ciblage mobiles avec balise meta viewport
 Les utilisateurs desktop aussi ont besoin de ces modif donc on leur laisse (utilisation max-width plutôt que max-device-width)
*/
@media screen and (max-width: 700px)
{
    nav ul
    {
        margin: 0;
        padding : 0.1em;
    }
    
    nav a
    {
        margin: 0 0em;
        padding: 1em 0.1em;
        
        font-size: 1em;
    }
}

@media screen and (max-width: 590px)
{
    nav ul
    {
        margin: 0;
        padding : 0em;
    }

    nav a
    {
        margin: 0;
        padding: 1.5em 0.1em;
        
        font-size: 0.9em;
    }
}



/******************
 Panneau flottant
******************/
.toolbox
{
    position: fixed;
    top: 0;
    right: 0;

    padding: 0.3em;

    border: 1px solid grey;
    border-radius: 0 0 0 10px;
    background-color: #808080;
    opacity: 0.85;
    box-shadow: 1px 1px 8px rgba(0,0,0,0.5);
}



/******************
 TOC
******************/
details#toc
{
    max-width: 30%;
    max-height: 70%;
    overflow: auto;
    text-align: center;
    z-index: 10; /* to fix blockquote beeing above details content */
    transition: all .7s ease-in-out;
}

details#toc>summary
{
    padding: 0.3em;
    font-weight: bolder;
    cursor: pointer;
    transition: margin 400ms ease-out;
}

details#toc[open] summary {
  margin-bottom: 10px; /* to fake open/close transition. Source https://stackoverflow.com/a/73447722 ! */
}

details#toc ul
{
    padding: 0.1em 0;
    padding-left: 30px;
    margin: 0;
    background-color: white;
    border-radius: 10px;
    text-align: left;
}


/*
 Ciblage mobiles avec balise meta viewport
 Les utilisateurs desktop aussi ont besoin de ces modif donc on leur laisse (utilisation max-width plutôt que max-device-width)
*/
@media screen and (max-width: 700px)
{
    details#toc {
    	font-size: 0.85em;
    	max-width: 40%;
    	max-height: 60%;
    }
}

@media screen and (max-width: 590px)
{
}
